body {
    text-align: center;
    font-family: Arial, sans-serif;
    background: #111;
    color: white;
}

h1 {
    margin-top: 40px;
    font-size: 40px;
}

.drum-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
}

.drum {
    width: 360px;
    height: 360px;
    background: #222;
    border: 3px solid #555;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    cursor: pointer;
    transition: 0.2s;
}

.drum:active,
.drum.active {
    background: yellow;
    color: black;
    transform: scale(1.1);
    border-color: yellow;
}
