body {
    text-align: center;
    font-family: Arial, sans-serif;
    background: #111;
    color: white;
}

h1 {
    margin-top: 40px;
    font-size: 40px;
}

.drum-container {
    display: flex;
    flex-wrap: wrap;   
    gap: 20px;         
    justify-content: center; 
}


.drum {
    width: 240px;
    height: 240px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    box-sizing: border-box;
    cursor: pointer;

    background: #222;
    color: white;
    border-radius: 10px;
    transition: 0.2s;
}

.drum:hover {
    box-shadow: 0 0 15px 4px rgba(0, 255, 0, 0.8);
}

.drum.active {
    box-shadow: 0 0 20px 6px rgba(0, 255, 0, 1);
    transform: scale(0.95);
}


